body {
    background-image: url(https://images.unsplash.com/photo-1508124780861-b1687f9a13e5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1385&q=80);
    background-size: cover;
}

.table {
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 4%;
    background-color: white;
}