<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="login">

                <form>
                    <img src="https://image.flaticon.com/icons/png/128/847/847969.png" class="logo" alt="">
                    <div class="contenedor">
                        <label for="inputnombre" class="form-label">Nombre</label>
                        <input type="email" class="form-control" id="inputnombre" name="nombre" #nombre="ngModel" [(ngModel)]="idUsuarioModel.nombre">

                    </div>
                    <div class="contenedor">
                        <label for="inputusuario" class="form-label">Usuario</label>
                        <input type="email" class="form-control" id="inputusuario" name="usuario" #usuario="ngModel" [(ngModel)]="idUsuarioModel.usuario">

                    </div>
                    <div class="contenedor">
                        <label for="inputcorreo" class="form-label">Correo Electronico</label>
                        <input type="email" class="form-control" id="inputcorreo" name="email" #email="ngModel" [(ngModel)]="idUsuarioModel.email">

                    </div>
                    <div class="contenedor">
                        <label for="inputpassword" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="inputpassword" name="password" #password="ngModel" [(ngModel)]="idUsuarioModel.password">

                    </div>
                    <button type="submit" class="btn btn-primary" (click)="AgregarUsuario()">Ingresar</button>
                </form>
            
    
    </div>
</body>

</html>